extends layout

block header
	#AboutUs_Header
		//- h1(style="display:table-cell;text-align: center").align-middle About Us
block content
	h2 About MPF
	.bg-light.p-4
		h2 Contact the Development Team
		p
			| You can share suggestions, ask questions and report any bug in the site. Your participation will be highly appreciated and you'll get the credits for what you share with us. 
			br
			br
			a(href="mailto:uzairkhattak004@gmail.com" target="_blank").btn.btn-primary.mr-4.text-light Contact by Mail Now
			a(href="tel:+923049481577" target="_blank").btn.btn-primary.text-light Call Now
		hr
		h6.bg-info.text-light.text-center.pt-4
			| Help Us in the Development and maintainence of the non-profit website. 
			br
			| Donate money to help people in finding their dears.
			br
			br
			span 
				a(href="mailto:uzairkhattak004@gmail.com" target="_blank" style="font-weight:bold").btn.btn-warning.text-light.mb-4 Contact Us for Donation
		hr