extends unregistered_layout

block content
	h1 Login as Admin
	.bg-light.p-4
		form(method='POST', action='/admin/login')
			#form-group
				label Email:
				input.form-control(name="email", type='text')
			#form-group
				label Password:
				input.form-control(name="password", type='password')
			br
			input.btn.btn-primary(type='submit',value='Login')
		br