extends layout

block header
	#article_single
		h1(style="display:table-cell;text-align: center").align-middle Article

block content
	h1.text-md-center.text-sm-left.text-white.pb-4= article.title
	//- article content section
	.bg-light.p-4
		br
		if article.file != null
			img(src=article.file.url).d-block.w-100.h-auto.mx-auto
		br
		p= article.body
		hr
		span.text-muted Author
		h6.text-info #{author}
		hr
		if user
			if user.id == article.author
				a.btn.btn-success.mr-4(href='/articles/edit/'+article._id style="color:white") Edit Article
			if user.id == article.author || user.role == 'admin'
				a.btn.btn-danger.delete-article(href="#", data-id= article._id style="color:white") Delete

	//- comments section
	.bg-light.p-4
		br
		if user != null 
			form(method="POST", action='/articles/comments/'+article._id)
				#form-group
					//- label Add Comment:
					textarea.form-control.w-50(name="comment", cols="20", rows="5") 
				br
				input.btn.btn-primary(type="submit", value="Comment")
