doctype html
html
	head
		title Missing Person Finder
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='icon', href='/mpf/logoMPF.png', type='image/gif', sizes='16x16')
		link(rel="stylesheet" href="/css/style.css")
		link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')



	body.bg4
		nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
			.container-xl.fixed-top.bg-dark.py-2
				a.navbar-brand.px-2(href='/') MissingPersonFinder
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample07XL', aria-controls='navbarsExample07XL', aria-expanded='false', aria-label='Toggle navigation')
					span.navbar-toggler-icon
				#navbarsExample07XL.collapse.navbar-collapse.px-2
					ul.navbar-nav.d-lg-flex.justify-content-lg-between.w-100
						.group-1.d-lg-flex
							li.nav-item.active
								a.nav-link(href='/')
									| Home 
									span.sr-only (current)
							li.nav-item.order-1
								a.nav-link(href="/#person_search_pageForm") Search
							//- li.nav-item.order-1
								a.nav-link(href="/donate") Donate

							.dropdown(style="position: relative;")
								a#dropdownMore.nav-link.dropdown-toggle(href='#', data-toggle='dropdown',aria-expanded='false') More
								.dropdown-menu(style="position: absolute; left: auto; right:auto;" aria-labelledby='dropdownMore')
									a.dropdown-item(href="/blog") Blog
									a.dropdown-item(href='/services') Services
									a.dropdown-item(href="/archive") Archive
									a.dropdown-item(href="/about") About Us



						.group-2.d-lg-flex
							if user
								li.nav-item
									a.nav-link(href='/articles/add') Add Article
								li.nav-item
									a.nav-link(href='/person/add/missing') Add Missing Person
								li.nav-item
									a.nav-link(href='/person/edit/missing/'+user._id ) Edit Person
							
								ul.navbar-nav.order-2.ml-lg-auto
									li.nav-item.dropdown
										a#dropdown07XL.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false') Account
										.dropdown-menu(aria-labelledby='dropdown07XL')
											a.dropdown-item(href='/users/profile') Profile
											a.dropdown-item(href='/users/logout') Logout
							else
								li.nav-item
									a.nav-link(href='/users/register') Register
								li.nav-item
									a.nav-link(href='/users/login') Login
							
					
		#header
			block header
		.container#page_container
			!= messages('display_message', locals)
			if errors
				each error, i in errors
					div(class="alert alert-danger") #{error.msg}
			block content
			br
		footer.bg-dark 
			p.lead.text-secondary(style="margin:0") Copyright &copy; 2021 Missing Person Finder
		script(src="/bower_components/jquery/dist/jquery.js")
		script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
		script(src="/js/main.js")