extends unregistered_layout

block content
	if Photoerror
		div(class="alert alert-danger") #{Photoerror}
	h1 Register
	.bg-dark.p-4
		form(method='POST', action='/users/register' enctype="multipart/form-data")
			#form-group
				label Name
				span.text-danger *
				input.form-control(name="name", type='text')
			#form-group
				label Email
				span.text-danger *
				input.form-control(name="email", type='email')
			#form-group
				label Contact Number
				span.text-danger *
				input.form-control(name="contact", type='number')
			#form-group
				label Password
				span.text-danger *
				input.form-control(name="password", type='password' autocomple="new-password")
			#form-group
				label Confirm Password
				span.text-danger *
				input.form-control(name="password2", type='password' autocomple="new-password")
			.form-group
				label.d-inline-block Profile Image 
					span.text-white.small (optional)
				input#input-files.form-control-file.border.text-dark(type='file', name='file')
			.row
				.col-sm-12
					.preview-images
						img#Profile_Image

			br
			input.btn.btn-primary(type='submit',value='Create Account')

		br
		h6(style="background:#E7DFDD; color:black;display:inline" class="p-2") already a member of MissingPersonFinder? 
			a(href="/users/login").text-primary Login Now